@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="~/admin-lte/dist/img/profile.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">LabAssist</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="info">
                <a href="~/home/privacy" class="d-block">Dashboard</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="~/doctors" class="nav-link">
                        <i class="fas fa-user nav-icon"></i>
                        <p>
                            Doctors
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/customers" class="nav-link">
                        <i class="fas fa-users nav-icon"></i>
                        <p>
                            Customers
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/laboratories" class="nav-link">
                        <i class="fas fa-flask nav-icon"></i>
                        <p>
                            Laboratories
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/items" class="nav-link">
                        <i class="fas fa-circle nav-icon"></i>
                        <p>Items</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
<!-- /.Main Sidebar Container -->