@model LabAssist_V_3._0.Models.User

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">User</h3>
        </div>
        <form asp-action="AddOrEdit" asp-route-id="@Model.UserID" role="form" onsubmit="return jQueryAjaxPost(this);">
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="UserID" />
                <div class="form-group">
                    <label asp-for="UserType" class="control-label"></label>
                    <select asp-for="UserType" asp-items="Html.GetEnumSelectList<LabAssist_V_3._0.Models.Enums.UserType>()" class="form-control">
                        <option selected="selected" value="">Please select</option>
                    </select>
                    <span asp-validation-for="UserType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>

