@model LabAssist_V_3._0.Data.Laboratory

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="col-md">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Customer</h3>
            </div>
            <form asp-action="AddOrEdit" asp-route-id="@Model.LaboratoryID" role="form" onsubmit="return jQueryAjaxPost(this);">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="LaboratoryID" />
                    <div class="form-group">
                        <label asp-for="LaboratoryName" class="control-label"></label>
                        <input asp-for="LaboratoryName" class="form-control" />
                        <span asp-validation-for="LaboratoryName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactNumber" class="control-label"></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-phone"></i></span>
                            </div>
                            <input asp-for="ContactNumber" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />
                            <span asp-validation-for="ContactNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="EmailAddress" class="control-label"></label>
                        <input asp-for="EmailAddress" class="form-control" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

