@model LabAssist_V_3._0.Data.Customer

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<!-- left column -->
<div class="col-md-6">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">New Customer</h3>
        </div>
        <form asp-action="Create" role="form">
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CustomerType" class="control-label"></label>
                    <br>
                    <input asp-for="CustomerType" type="radio" name="CustomerType" value="Internal" /> Internal Customer
                    <br>
                    <input asp-for="CustomerType" type="radio" name="CustomerType" value="External" /> External Customer
                    <span asp-validation-for="CustomerType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CustomerName" class="control-label"></label>
                    <input asp-for="CustomerName" class="form-control" placeholder="Enter Name" />
                    <span asp-validation-for="CustomerName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gender" class="control-label"></label>
                    <br>
                    <input asp-for="Gender" type="radio" name="Gender" value="Male" /> Male
                    <br>
                    <input asp-for="Gender" type="radio" name="Gender" value="Female" /> Female

                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BirthDate" class="control-label"></label>
                    <input asp-for="BirthDate" class="form-control" />
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" placeholder="Enter Address" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ContactNumber" class="control-label"></label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-phone"></i></span>
                        </div>
                        <input asp-for="ContactNumber" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />
                        <span asp-validation-for="ContactNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="EmailAddress" class="control-label"></label>
                    <input asp-for="EmailAddress" class="form-control" placeholder="Enter Email" />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="AddOrEdit" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
